#er{ 
    background-color: aqua; 
    font-size: large;
}
.World{
    background-color:
     brown; font-size:large;
    }
*{ 
    background-color: cornsilk;
}
h3,h4{
    background-color:blueviolet;}